<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  <div class="alert alert-info text-center" role="alert">
   Test heroku NodeJS app
  </div>
  
  <h2>tmap</h2>
  
  <hr>

  <div class="row">
    <div class="col-md-12">
      michail.kuznetsov@gmail.com, https://github.com/shershen08
    </div>
  </div>
  

</div>


</body>
</html>
